body {
    margin: 0;
    display: grid;
    grid-template-areas: 'n n'
                         'h h'
                         'a s'
                         'a d'
                         'a e'
                         'f f';
    grid-template-columns: 147px auto;
    background-color: #232731;
    font-family: oxygen;
}

nav {
    grid-area: n;
    padding: 5px 0;
    background-color: #3B4252;
    font-size: 18px;
}

nav name a {
    padding: 5px 30px;
}

nav name a:hover {
    color: #FFA0E7;
}

nav a {
    padding: 5px 10px;
    color: #9dd0f0;
    text-decoration: none;
}

nav a:hover {
    background-color: #4C566A;
    color: #bedfa1;
}

nav a.active-page {
    background-color: #4C566A;
}

header {
    grid-area: h;
    padding: 20px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #81BCBB;
}

#subheader {
    padding-right: 147px;
    margin-bottom: 15px;
    grid-area: s;
    color: #9dd0f0;
}

#subheader div {
    margin-bottom: 15px;
}

aside {
    margin: 100px 15px 15px 8px;
    padding: 10px;
    grid-area: a;
    background-color: #3B4252;
    color: #9dd0f0;
    line-height: 1.5;
}

aside .bold {
    text-transform: uppercase;
    font-weight: 600;
    color: #81BCBB;
}

aside label {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
}

aside label:hover {
    background-color: #4C566A;
    color: #bedfa1;
}

div {
    color: #9dd0f0;
}

#stats {
    grid-area: d;
}
